# number of days per year in calculations (365.25 is default)
days_per_year: 365.25
# set the discount rate (must be between 0 and 1)
discount_rate: 0.03
# set the mass reporting unit for emissions
emissions_mass: MT
# set the reporting units for energy demand (kJ, MJ, GJ, PJ, TJ)
energy_units: PJ
# set the global warming potential (20, 100, 500)
global_warming_potential: 100
# if back-projecting solid waste, set the number of periods to back project
historical_back_proj_n_periods: 10
# method for accounting for solid waste disposal before the model period
historical_solid_waste_method: back_project
# length units for reporting
length_units: km
# units for reporting volumes (like wastewater)
volume_units: m3
